<header>
        <div class="container">
            <h1 class="nav-brand">
                <a routerLink="/">
                    TvS Search
                </a>
            </h1>
            <form class="nav-search">
                <input class="nav-search-input" type="text" placeholder="Search" >
                <button class="nav-search-button" >
                    Search
                </button>
            </form>
    
            <div class="nav-links">
                <a routerLink="/more">More Info</a>
            </div>
    
        </div>
</header>