/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

:root {
    background-color: rgb(17, 16, 16);
    color: white;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


.container {
    width: 90%;
    margin: 0 auto;
}
